In [2]:
b = 10 # global 


def g():
    a = 9 # local par rapport à g 
    # print = 9 # builtin
    print(a, b) # Local à la fonction 
    def f():
        print(a) # E
        print(b) # localment b ? englobant b ? global b ? 

    f()

def h():
    print(b)
    # print(a) pas global dans un autre scope 

h()

g()

10
9 10
9
10

In [3]:
# LEGB : local englobant global et builtin 

print("f")

f

In [4]:
# print = 5 ça écrase ce qui est dans le builtin 

# print

In [5]:
# la liste élevée au carrée on a une liste de 5 valeurs consécutives de 1 à 5

# compréhension de liste 
l = [ i**2 for i in range(1, 6 ) ]
print(l)

[1, 4, 9, 16, 25]

In [6]:
l[:2]

[1, 4]

In [7]:
l[1::2]

[4, 16]

In [8]:
l[0:2:1]

[1, 4]

In [9]:
l[0:3:1]

[1, 4, 9]

In [10]:
l[0:4:1]

[1, 4, 9, 16]

In [11]:
l[0:4]

[1, 4, 9, 16]

In [13]:
l[:4]

[1, 4, 9, 16]

In [14]:
l[::-1]

[25, 16, 9, 4, 1]

In [15]:
l[::-2]

[25, 9, 1]

In [16]:
import numpy as np

In [19]:
a = np.array( [1, 2, 3 ] ) # taille fixe et le type est définie une fois pour toute 

a[0] = 3

In [20]:
a

array([3, 2, 3])

In [22]:
a.dtype

dtype('int64')

In [23]:
b = np.array( ["bonjour", "tout le monde" ], dtype='<U2')

In [24]:
b

array(['bo', 'to'], dtype='<U2')

In [27]:
(a*2 - 10*a)**2

array([576, 256, 576])

In [29]:
np.median(a)

np.float64(3.0)

In [36]:
import pandas as pd # pandas repose sur numpy analyse de données et stat outil indispensable du data analyste

In [31]:
# Séries et DataFrame

In [35]:
s = pd.Series([10, 20, 30], index=["a", "b", "c"])

# stat de votre séries 
s.describe()

count     3.0
mean     20.0
std      10.0
min      10.0
25%      15.0
50%      20.0
75%      25.0
max      30.0
dtype: float64

In [54]:
df = pd.DataFrame({
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, np.nan, 35]
})
print(df.shape)
df

(3, 2)

      name   age
0    Alice  25.0
1      Bob   NaN
2  Charlie  35.0

In [55]:
mask = df["age"] > 25

df[mask]

      name   age
2  Charlie  35.0

In [56]:
df["sex"] = ["F", "M", "M"]  # ajout d'une colonne

In [57]:
df

      name   age sex
0    Alice  25.0   F
1      Bob   NaN   M
2  Charlie  35.0   M

In [58]:
df.loc[3] = ["Alex", 34, "M"] # ajout d'une ligne

In [59]:
df

      name   age sex
0    Alice  25.0   F
1      Bob   NaN   M
2  Charlie  35.0   M
3     Alex  34.0   M

In [60]:
df.shape

(4, 3)

In [61]:
df.isna()

    name    age    sex
0  False  False  False
1  False   True  False
2  False  False  False
3  False  False  False

In [66]:
df.isna().any(axis=0) # au moins un True par colonne pour que any renvoie True axis = 0 colonne

name    False
age      True
sex     False
dtype: bool

In [63]:
df.isna().any(axis=1) # axis sur les lignes

0    False
1     True
2    False
3    False
dtype: bool